a{
    color: black !important;
}

.my-card{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card{
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    min-width: 500px;
    max-width: 90%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item{
    width: 45%;
    margin: 20px 10px;
}
.home{
    margin: 26px auto;
    
}
.home-card{
    min-width: 500px;
    max-width: 90%;
    height: max-content;
    margin: 20px auto;
    padding-top: 1px;


}
.home-card>h5{
    /* text-align: center; */
    margin: 20px;
    
}


#toast-container{
    top:30px !important;
    right: 25px !important;
    left: auto !important;
}

.modal-upper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    transform: scale(0)

}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-upper.show{
    animation: opacity 0.1s ease-in forwards;
}
@keyframes opacity{
    to{
        transform: scale(1)
    }
}

.modal-upper::after{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;bottom: 0;right: 0;
    z-index: -1;
}

.modal-pic *{
    z-index: 100;

}

.modal-pic{
    
    width: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    height: 300px;
    background-color: white;
    z-index: 100;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.file-field{

}